<!-- Footer -->
<footer class="bg-black text-white-400 bottom-0 fixed w-full">
  <div class="">
    <div class="flex justify-around items-center">
      <p class="text-white">&copy; 2024 Vehicle Management. All rights reserved.</p>
      <!-- <div class="flex gap-4">
        <a href="#" class="text-gray-400 hover:text-white"> Privacy Policy </a>
        <a href="#" class="text-gray-400 hover:text-white">
          Terms of Service
        </a>
        <a href="#" class="text-gray-400 hover:text-white"> Contact Us </a>
      </div> -->
    </div>
  </div>
</footer>
