
<div
  class="search flex-col justify-center items-center w-100 mx-96 mt-24 rounded-md h-96 z-10 shadow-lg shadow-black fade-in"
>
  <h1 class="text-2xl font-bold text-black mb-6 text-center">
    InsuroDrive Login
  </h1>

  <form
    #form="ngForm"
    class="flex flex-col gap-4 bg-white-800 justify-center item-center px-8"
  >
    <div class="form-group">
      <label for="username" class="block text-sm font-medium text-black-300"
        >Username</label
      >

      <input
        type="text"
        id="username"
        name="user.name"
        #username="ngModel"
        [(ngModel)]="user.name"
        required
        minlength="3"
        [pattern]="usernamePattern"
        class="w-full px-4 py-1 mt-2 border border-gray-600 bg-white-700 text-black rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        [ngClass]="{ 'border-red-500': username.touched && username.invalid }"
      />

      <div *ngIf="username.touched && username.invalid">
        <div *ngIf="hasError(username, 'required')" class="error">
          Please provide Username
        </div>

        <div *ngIf="hasError(username, 'minlength')" class="error">
          Username cannot be less than 3 characters
        </div>

        <div *ngIf="hasError(username, 'pattern')" class="error">
          Username can only contain alphabets or numbers, and cannot contain
          spaces or special characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="block text-sm font-medium text-black-300"
        >Password</label
      >

      <input
        type="password"
        id="password"
        name="user.password"
        #userpassword="ngModel"
        [(ngModel)]="user.password"
        required
        [minlength]="6"
        [pattern]="passwordPattern"
        class="w-full px-4 py-1 mt-2 border border-gray-600 bg-white-700 text-black rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
        [ngClass]="{
          'border-red-500': userpassword.touched && userpassword.invalid
        }"
      />

      <div *ngIf="userpassword.touched && userpassword.invalid">
        <div *ngIf="hasError(userpassword, 'required')" class="error">
          Password cannot be empty
        </div>

        <div *ngIf="hasError(userpassword, 'minlength')" class="error">
          Password must be at least 6 characters long
        </div>

        <div *ngIf="hasError(userpassword, 'pattern')" class="error">
          Password cannot contain spaces and should not match Username
        </div>
      </div>
    </div>

    <div class="form-actions">
      <button
        class="w-full py-2 px-4 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 disabled:opacity-50 mt-6"
        type="submit"
        [disabled]="form.invalid"
        (click)="btn()"
      >
        Login
      </button>
    </div>
  </form>
</div>
